<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.LoggingContext"/>
  </extensions>

  <targets>
    <target xsi:type="DefaultLoggingContextDbTarget" name="dncdt" schemaTableName="LogForTest_UseExtensions"/>
  </targets>

  <rules>
    <logger name="*" levels="Trace,Debug,Fatal,Error,Warn,Info" writeTo="dncdt"/>
  </rules>

</nlog>
