<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Trace" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.LoggingScope"/>
  </extensions>

  <targets>
    
    <target
      xsi:type="DefaultLoggingScopeDbTarget"
      name="dncdt"
      connectionString="FullUri=file::memory:?cache=shared;"
      schemaTableName="LogForTest_UseExtensions"
      dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.105.2, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
    
  </targets>

  <rules>
    <logger name="*" levels="Trace,Debug,Fatal,Error,Warn,Info" writeTo="dncdt"/>
  </rules>
  
</nlog>
